@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,100&display=swap');

:root {
    --main-tittle-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem); 
    --main-text-size: 0.938rem;
    --card-tittle-size: 1.25rem;
    --card-text-size: 0.813rem;
    --body-bg-color: #FAFAFA;
    --font-primary-color: #4D4F62;
    --white-color: #FFFFFF;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 5rem clamp(2rem, 1.5rem + 11.1268vw, 10.313rem) 4.875rem;
    background-color: #FAFAFA;
    color: var(--font-primary-color);
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.flex-column-center{
    gap: 4.75rem;
}

article.flex-column-center{
    gap: 1rem;
}


h1 {
    font-size: var(--main-tittle-size);
    font-weight: 600;
    line-height: 1.43;
    max-width: 19.1ch;
}

h1 span {
    font-weight: 200;
}

p {
    font-size: var(--main-text-size);
    line-height: 1.67;
    opacity: 0.5;
    max-width: 57.4ch;
}

.cards-section {
    display: grid;
    gap: 1.75rem;
    grid-template-areas: 
        "supervisor"
        "team-builder"
        "karma"
        "calculator";
}

.card {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white-color);
    border-radius: 8px;
    border-top: 3.5px black solid ;
    box-shadow: 0 15px 30px -11px #83A6D280;
}

.card h2 {
    font-size: var(--card-tittle-size);
}

.card p{
    font-size: var(--card-text-size);
}

.card img {
    align-self: flex-end;
}

.supervisor {
    grid-area: supervisor;
    border-top: 3.5px #44D3D2 solid;
}

.team-builder {
    grid-area: team-builder;
    border-top: 3.5px #EA5454 solid;
}

.karma{
    grid-area: karma;
    border-top: 3.5px #FCAE4A solid;
}

.calculator {
    grid-area: calculator;
    border-top: 3.5px #549ef2 solid;
}

@media screen and (min-width:765px) {
    .cards-section{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
            ". team-builder ."
            "supervisor team-builder calculator"
            "supervisor karma calculator"
            ". karma .";
    }
}